{% extends "2by2.new.master" %}
{% block left %}
	<h3>Badges &amp; Belts</h3>
	<p>Just like a karate dojo, some CoderDojos award belts for both technical achievements, as well as for deeds that have positive social impact. Check out <a href="http://kata.coderdojo.com/wiki/Belts">CoderDojo Kata</a> for more information about belts and badges.</p>
{% endblock left %}

{% block right %}
	<div id="sadface" class="well">
		<p class="aligncenter comicsans">U WANT BADGES AND BELTS</p>
		<p class="aligncenter"><img src="/static/sadyinyanglogo.png"/></p>
		<p class="aligncenter comicsans">WE NEED U</P>
		<p class="aligncenter"><a href="mailto:siliconvalley@coderdojo.com">Contact Us</a></p>
	</div>
{% endblock right %}