{% extends "site.new.master" %}
{% block body %}
	<div class="containery">
		<div class="row-fluid">
			<div class="span9 side spanleft">
				<h3>{% block title %}{% endblock title %}</h3>
				{% block mainpanel %}{% endblock mainpanel %}
			</div>
			<div class="span3 side spanright" id="dojolist">
				<h3 style="color:white;cursor:default;">.</h3>
				{% block sidebar %}
				{% endblock sidebar %}
			</div>
		</div>
	</div>
{% endblock body %}