{% extends "dojopage.new.master" %}
{% block title %}Dojos at Silicon Valley{% endblock title %}
{% block mainpanel %}
	<p>CoderDojo Silicon Valley is made up of independently run dojos located throughout the Bay Area in <a href="/dojos/San%20Francisco">San Francisco</a>, <a href="/dojos/Mountain%20View">Mountain View</a>, and <a href="/dojos/San%20Jose">San Jose</a>.</p>
	<p>Each dojo has it's own format and style. Some run one once a month, others more. Find the location and schedule that fits you best, or attend them all. There's always something interesting taking place and many ways to <a href="/get_involved">Get Involved</a>.</p>
	<p>We welcome new coders at any time, and we hope to see you soon at a dojo near you!</p>
	<div class="space"></div>
	<img class="cam" src="{{url_for('static', filename='montage.png')}}"/>
	<div class="space"></div>
	<h3>Can anyone start a CoderDojo</h3>
	<p>Absolutely! Become a Champion and change the world! <a href="http://coderdojo.com/help-us/i-want-to-start-a-coderdojo-right-now/">Read more about starting your own dojo.</a></p>
	<p>If you really want to give it a go, don’t do it alone. Ask us, and we’ll be happy to tell you all about our local start up process and specific lessons learned. <a href="mailto:siliconvalley@coderdojo.com">Contact Us</a>, if you have any questions.</p>
	<p>Did you know, there are hundreds of CoderDojos around the world! See a <a href="http://zen.coderdojo.com/dojo">complete list</a> of all international CoderDojos.</p>
{% endblock mainpanel %}
{% block sidebar %}
	{% for dojo in dojos %}
		<h4 class="connected">{{dojo.location}}</h4>
		<div class="well">
			<p>{{dojo.days}},<br/>{{dojo.time|safe}}</p>
			<div class="printhidden">
				<button class="blink btn btn-success btn-block" href="/dojos/{{dojo.location}}">Dojo Info</button>
				<button class="blink btn btn-success btn-block" href="{{dojo.zenid}}">Attend</button>
			</div>
		</div>
	{% endfor %}
{% endblock sidebar %}