{% extends "dojopage.new.master" %}
{% block title %}All Dojos{% endblock title %}
{% block mainpanel %}
	<p>CoderDojo Silicon Valley is made up of independently run dojos located in <a href="/dojos/Mountain%20View">Mountain View</a> and <a href="/dojos/South&20Bay">Campbell</a>, California.</p>

	<p>There are other dojos in the Bay Area located in <a href="/dojos/San%20Francisco">San Francisco</a> and <a href="/dojos/Tri-Valley">Dublin</a>, California, in addition to hundreds of <a href="http://zen.coderdojo.com/dojo">CoderDojos around the world!</a></p>

	<p>Each dojo has it's own format and style. Some run one once a month, others more. Find the location and schedule that fits you best, or attend them all.</p>

	<p>At CoderDojo Silicon Valley, there's always something interesting taking place and many ways to <a href="/get_involved">Get Involved</a>.</p>

	<p>We welcome new coders at any time, and we hope to see you soon at a dojo near you!</p>
	<div class="space"></div>
	<img class="cam" src="{{url_for('static', filename='montage.png')}}"/>
	<div class="space"></div>
	<h3>Can anyone start a CoderDojo?</h3>
	<p>Absolutely! Become a Champion and change the world! <a target="_blank" href="http://coderdojo.com/help-us/i-want-to-start-a-coderdojo-right-now/">Read more about starting your own dojo.</a></p>
	<p>If you really want to give it a go, don’t do it alone. Ask us, and we’ll be happy to tell you all about our local start up process and specific lessons learned. <a href="mailto:siliconvalley@coderdojo.com">Contact Us</a>, if you have any questions.</p>
{% endblock mainpanel %}
{% block sidebar %}
	{% for dojo in dojos %}
		<h4 class="connected">{{dojo.location}}</h4>
		<div class="well">
			<div class="printhidden">
				<a class="btn btn-success btn-block" href="/dojos/{{dojo.location}}">Dojo Info</a>
				<a target="_blank" class="btn btn-success btn-block" href="{{dojo.zenid}}">Attend</a>
			</div>
		</div>
	{% endfor %}
{% endblock sidebar %}
