{% extends "site.new.master" %}
{% block body %}		
	<div class="containery">
		<div class="row-fluid">
			<div class="span12 side">
				<h3>Session FAQs</h3>
				<p>Have a question about CoderDojo?</p>
				<div class="tabs">
					<div class="tab">
						<input type="radio" id="tab-1" name="tab-group-1" checked>
						<label for="tab-1">Sessions</label>
						<div class="tabcontent">
							<div class="tabbycat" id="tab-1-cat">
							
								<p>CoderDojo sessions make learning to code a fun and sociable experience. Besides learning, participants meet like minded people, ask lots of  questions, and get a chance to show off their projects.</p>
								<p>Dojos vary a lot and have different styles.  Each dojo depends on the community behind it. This means that each dojo develops a unique program from it’s specific vision and available resources.<p/> 
								<div class="expander"> <!--An Expander-->
									<h4 class="title">What programming topics are covered?</h4>
									<div class="content">
										<p>Each session will be dependent on the the lead presenter.  Sometimes focus will be on beginning or intermediate projects, other times there might be more advanced topics covered.  Details for each session will be outlined in the Eventbrite ticketing information<p/>
										<p>Typically Scratch, Tynker, HTML or Javascript is introduced to beginners.  Topics on Python, Java, Unity, or mobile app development tools are presented to those with some programming experience.</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">What happens at a session?</h4>
									<div class="content">
										<p>A typical session would be project-based and focused on a single programming language.  The flow of the meeting would go something like this:<p/>
										<ul>
											<li><p>Welcome and intros</p></li>
											<li><p>Interactive presentation on programming topic</p></li>
											<li><p>Time for playing and experimenting with project</p></li>
											<li><p>Self-selected sharing with the group</p></li>
											<li><p>Challenge problem, or extention of project explained </p></li>
											<li><p>Closing</p></li>
										</ul>
										<p>Mentors are available to answer questions and help with technical issues throughout the session.  Participants are encouraged to think on their own, and ask each other for help.<p/> 
										<p>We also encourage experimenting with projects between sessions, so the participants can become confident and independent learners!<p/>

									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">What do I need to bring to a session?</h4>
									<div class="content">
										<ul>
											<li><p>A laptop and charger for each partcipant</p></li> 
											<li><p>A parent or guardian for any partcipant under 14 years of age</p></li> 
											<li><p>An interest in computers and how they work</p></li> 
										</ul>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Are there any prerequisites?</h4>
									<div class="content">
										<p>Typically no prior programming skills are required. However, touch typing and basic keyboarding skills are essential for some programming languages.<p/>
										<p>Make sure to check the Eventbrite listing for each specific event.</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">What computers can I use?</h4>
									<div class="content">
										<p>Macs and PCs work best.</p>
										<p>Tablets are not recommended, and may not work with some programming enviornments.</p>
										<p>Chromebooks and Surface RT/Pros, with keyboards, should be OK for web-based enviroments like Scratch, Tynker, and Khan Academy.</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Is there a minimum age to partcipate?</h4>
									<div class="content">
										<p>Yes. Partcipants must be between the ages of 7 and 17.</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>

					<div class="tab">
						<input type="radio" id="tab-2" name="tab-group-1">
						<label for="tab-2">Tickets</label>
						<div class="tabcontent">
							<div class="tabbycat" id="tab-2-cat">
							
								<p>Due to capacity limitations, most dojos require tickets for all sessions. Once an event is announced, tickets will be allotted through Eventbrite.</p>
								
								<div class="expander">
									<h4 class="title">How do I know when tickets are available?</h4>
									<div class="content">
										<p>If you want to receive announcements about upcoming sessions, make sure you have joined the Google Group at your <a href="/dojos">local dojo.</a></p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Why do tickets sell out so fast?</h4>
									<div class="content">
										<p>Depending on the dojo, and the session oferred, tickets can sell out in a matter of minutes. In most cases, the demand for tickets far exceeds the capacity limit of each dojo.</p>
										<p>If you want a better chance of attending, <a href="/get_involved">get invloved.</a></p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Should I add my name to the wait list?</h4>
									<div class="content">
										<p>Yes. Always add your child’s name to the wait list. We often release wait list tickets, based on the number of mentors helping. 
										<p>Sometimes priority registration is given to the wait list from a previous event.<p/>
										<p>Please note: Once wait list tickets are released, you have 24 hours to claim your spot, before a the system moves to the next opening.</p>
									</div>
								</div>
								
								<!--<div class="expander">
									<h4 class="title">Why am I always on the wait list?</h4>
									<div class="content">
										<p>You might be receiving the Google Group announcements in a daily digest, which means you won't see it until the end of the day. Try checking your settings.</p>
									</div>
								</div>-->
								
								<div class="expander">
									<h4 class="title">Are their priority tickets available?</h4>
									<div class="content">
										<p>Some dojos have a select number of tickets available to children who mentor or whose parent’s do, or where the parent is making a difference to the dojo through the help they give.<p/>
										<p><a href="/get_involved">Get involved</a> and be on the list!</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Are tickets always free?</h4>
									<div class="content">
										<p>Yes, always!</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
					<div class="tab">
						<input type="radio" id="tab-3" name="tab-group-1">
						<label for="tab-3">Parents</label>
						<div class="tabcontent">
							<div class="tabbycat" id="tab-3-cat">
							
								<p>Parents are an essential part of the dojo. Some like to co-program and learn with their kids, others help their kids with setup and/or typing, and some even become mentors!</p>
								
								<div class="expander">
									<h4 class="title">Why are parents required?</h4>
									<div class="content">
										<p>Your child will get the most out of the dojo, if parents help manage dojo operations and have direct supervision of thie children. This way, mentors can focus their time on teaching and mentoring.</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">How do you select your mentors?</h4>
									<div class="content">
										<p>All CoderDojo mentors are volunteers, and do so in their individual capacity.  CoderDojo Silicon Valley bears no formal relationship with any of it's mentors.</p>
										<p>At some dojos, mentors are asked to fill out a contact information form and present a valid form of ID.</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Does CoderDojo have a child protection policy?</h4>
									<div class="content">
										<p>Parent involvement is the policy! A parent or adult gaurdian is present for child and mentor protection.<p/>
										<p>Also, keeping the sessions a public environment with children, parents and mentors together, and having clear start and end times makes the sessions no different from any other public social environment.</p>
										<p>Parents and mentors are discouraged from exchanging personal contact information or soliciting services with any attendee who is a minor.</p>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Does CoderDojo have an online safety policy?</h4>
									<div class="content">
										<p>Parent involvement is the policy! A parent or adult gaurdian is responsible for monitoring and approving all downloads, user account settings, email subscriptions and any other online interactions required as part of the session.</p>
										<p>We also recommend reviewing any family-specific online polices with your child.<p/>
									</div>
								</div>
								
								<div class="expander">
									<h4 class="title">Does my child get priority registration if I volunteer or become a mentor?</h4>
									<div class="content">
										<p>Yes! Some dojos have a few select tickets for parents who volunteer, mentor or help at a session.</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}