{% extends "dojopage.new.master" %}

{% block sidebar %}
	<p>If you would like write an article or to interview any CoderNinjas or Dojo Champions, <a href="mailto:siliconvalley@coderdojo.com">Contact Us</a>.</p>
{% endblock sidebar %}

{% block title %}Press{% endblock title %}

{% block mainpanel %}
	<div class="well">
		<p class="article">September 27th, 2012 - <a href="http://www.siliconrepublic.com/innovation/item/29410-coderdojo-launches-new-codi">CoderDojo Launched new Coding Club in Silicon Valley</a></p>
		<p class="sender">Silicon Republic</p>

		<p class="article">October 10th, 2012 - <a href="http://coderdojo.com/2012/10/13/james-whelton-opens-coderdojo-silicon-valley/">James Whelton Opens CoderDojo Silicon Valley</a></p>
		<p class="sender">CoderDojo</p>

		<p class="article">October 1st, 2012 - <a href="http://blogs.wsj.com/tech-europe/2012/10/01/irelands-coderdojo-teaches-programming-to-silicon-valley-kids/">Ireland's CoderDojo Teaches Programming to Silicon Valley Kids</a></p>
		<p class="sender">The Wall Street Journal</p>

		<p class="article">February 29th, 2012 - <a href="http://techcrunch.com/2012/02/29/coderdojo-hits-the-us/">CoderDojo Hits the US</a></p>
		<p class="sender">TechCrunch</p>

		<p class="article">February 28th, 2012 - <a href="https://github.com/blog/1062-our-first-github-coderdojo-session">GitHub's First CoderDojo Session</a></p>
		<p class="sender">GitHub</p>
	</div>
{% endblock mainpanel %}