<!DOCTYPE html>
<html>
	<head>
		<title>CoderDojo Silicon Valley</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css"/>
		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css')}}" type="text/css"/>
		<script src="{{url_for('static', filename='jui/jquery-1.9.1.js')}}" type="text/javascript"></script>
		<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
		<link media="screen" rel="stylesheet" href="{{url_for('static', filename='jui/themes/coder-green/jquery-ui.css')}}" type="text/css"/>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-42786321-1', 'coderdojosv.com');
		  ga('send', 'pageview');
		</script>
		<script src="{{url_for('static', filename='jui/ui/jquery-ui.js')}}" type="text/javascript"></script>
		<script>
			$(function() {
				$(".accordion").accordion({
					collapsible: true,
					heightStyle: "content"
				});
				$()
				//setInterval(function() {
				//	$("#cylonNinja").animate({"right": "50%"}, 0);
				//	$("#cylonNinja").animate({"right": "-=100"}, 0);
				//}, 10);

			  	$("#logocon").mousedown(function(e) { 
					if( e.button == 2 ) { 
				  		$("#copier").show();
						$("#copier").css("position", "absolute")
						$("#copier").css("left", e.pageX)
						$("#copier").css("top", e.pageY-160)
						e.preventDefault();
					} 
					return true; 
			  	});
				$("#closedev").click(function() {
					$("#copier").hide();
					return false;
				});
				$(".expander .title").prepend("<a href='#' class='expandButton'><span class='entypo-right-open-mini'/>&nbsp;</a>");
				$(".expander .content").hide();
				$(".expander .title").click(function() {
					$(this).next('.content').slideToggle();
					if ($(this).children('.expandButton').children('span').attr("class") == "entypo-right-open-mini") {
						$(this).children('.expandButton').html("<span class='entypo-down-open-mini'/><span style='width:1px;'/>");
					} else {
						$(this).children('.expandButton').html("<span class='entypo-right-open-mini'/>&nbsp;");
					}
					return false;
				});
				$(".tip").tooltip({placement: 'right'});
				/*$("#tabs").tabs({
					fx: { opacity: 'toggle' }
				}).addClass("ui-helper-clearfix");*/
				var selectedtab = "tab-1";
				setInterval(function() {
					$(".tabs").height($("#" + selectedtab + "-cat").height() + 100);
				}, 10);
				$(".tab input").click(function() {
					selectedtab = $(this).attr("id");
				});
				$("#coderninja").mouseover(function() {
					$("#powered").fadeIn();
					$("#coderninja").animate({
						left: "-80",
						top: "-=50"
					}, "slow");
				});
				setInterval(function() {
					if ($("body").height() > $(window).height()) {
						$("#footer").css("position", "inherit");
					} else {
						$("#footer").css("position", "fixed");
						$("#footer").css("bottom", "0");
					}
				}, 50);
				$("#buyu").mouseover(function() {
					$("#dojomojo").fadeIn();
					$("#buyu").animate({
						right: "-80",
						top: "-=50"
					}, 200);
				});
				$("#buyu").mouseout(function() {
					$("#buyu").animate({
						right: "-140",
						top: "260px"
					}, "slow");
					$("#dojomojo").fadeOut();
				});
				window.openDialog = function(id, w, h) {
					if (!w) {
						var w = 720;
						var h = 490;
					}
					$(id).dialog({
						modal: true,
						width: w,
						height: h,
						hide: {
							effect: "fade",
							duration: 500
						},
						show: {
							effect: "puff",
							duration: 500
						}
					});
					setTimeout(function() {
						$('.dialog a').blur();
					}, 510);
				};
				window.wrapInTag = function(d, t) {
					return "<" + t + ">" + d + "</" + t + ">";
				};
				window.comingSoon = function(msg) {
					if (msg == 'vo') {
						window.openDialog("#vo", 507, 350);
						return;
					} else if (msg == 'facebook') {
						window.openDialog("#facebook", 507, 350);
						return;
					} else if (msg) {
						$("#comingSoon").html(window.wrapInTag(msg, "p"));
					} else {
						$("#comingSoon").html("<p>Coming soon...</p>");
					}
					window.openDialog("#comingSoon", 507, 350);
				};
				$("#coderninja").mouseout(function() {
					$("#coderninja").animate({
						left: "-140",
						top: "200px"
					}, "slow");
					$("#powered").fadeOut();
				});
				$('.printhidden .buttonLink').each(function() {
					$(this).css('margin-top', $(this).parent().height()-$(this).height());
				});
				$(".blink").click(function() {
					location = $(this).attr("href");
				});
				$(".nojs").hide();
			});
		</script>
		<style>
			.ui-tabs-vertical { width: 99%; }
			.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
			.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
			.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
			.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
			.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
		</style>
		{% block extras %}
		{% endblock extras %}
	</head>
	
	<body id="body">
		<div class="dialog" id="comingSoon" title="Info">
			Coming soon...
		</div>
		<div class="alert alert-square onlyie">
			<strong>Warning!</strong> Because you are using Internet Explorer, some features might not work on this website. Please try another browser, such as <a href="http://www.google.com/chrome">Google Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox.</a>
			<button type="button" class="close alert-fixed-top pull-right" data-dismiss="alert">&times;</button>
		</div>
		<noscript>
			<div class="nojs">
				<div class="alert alert-error alert-square">
					<strong>Attention!</strong> Your JavaScript is turned off, and this site depends on it. Please turn it back on.
				</div>
			</div>
		</noscript>
		<div id="logocon" oncontextmenu="return false;">
			<div class="containery">
				<div class="row-fluid nobg" style="box-shadow: none;">
					<div class="span12">
						<div id="topmini" class="printhidden">
							<a href="/about">ABOUT</a>
							<a href="mailto:siliconvalley@coderdojo.com">CONTACT</a>
							<a href="/faqs">FAQS</a>
							<a href="/press">PRESS</a>
						</div>
						<p><a href="/"><img id="svlogo" src="{{url_for('static', filename='svlogo.png')}}" alt="Silicon Valley CoderDojo"/></a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-inverse" style="border-radius: 0px" id="topnav">
			<div class="navbar-inner" style="border-radius: 0px">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav">
							{% for link in topbar %}
								<li><a href="{{link.page}}">{{link.title}}</a></li>
							{% endfor %}
						</ul>
					</div><!-- /.nav-collapse -->
				</div>
			</div><!-- /navbar-inner -->
		</div><!-- /navbar -->
		<div class="dropdown">
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="copier">
				<li role="presentation" class="disabled black">Brushed metal texture by myfreetextures.com</li>
				<li role="presentation"><a href="#" id="closedev">Close</a></li>
			</ul>
		</div>
		<div class="dialog" id="vo" title="Join Us!">
			<p>Calling all mentors, presenters and those interested in planning the 2013/14 sessions for Mountain View or San Jose!</p>
			<p>Come to our orientation at the Irish Innovation Center in Downtown San Jose</p>
			<p>7:00-8:30 p.m on Thursday, August 22nd, 2013</p>
			<p>RSVP to <a href="mailto:tiffanyTOverbo@gmail.com?subject=RSVP%20Volunteer%20Orientation">Tiffany Overbo</a></p>
		</div>
		<!--[if IE]>
			<script>document.documentElement.className+='ie';</script>
		<![endif]-->
		<script>if(Function('/*@cc_on return document.documentMode===10@*/')()){document.documentElement.className+='ie';}</script>
		
		{% block body %}
		{% endblock body %}
		<br/>
		<div id="fc">
			<div id="footer">
				<div id="footer-inner">
					<nav>
						<i>2013 CoderDojo Silicon Valley</i> |
						<a href="mailto:siliconvalley@coderdojo.com">Contact</a> |
						<a href="javascript:window.comingSoon()">Credits</a>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>
