{% extends "site.new.master" %}
{% block body %}		
	<div class="containery">
		<div class="row-fluid">
			<div class="span12 side">
				<h3>Sponsors</h3>
				<p>Local dojos are kindly supported by the following businesses.</p>
				<!--<p>If you or your company can provide food, mentors, prizes, laptops, Rasberry Pis, Arduinos, or any amazing stuff please see the local dojo wish list.</p>-->
				<div class="space"></div>
				<table border="1">
					{% for supporter in sups %}
					<tr>
						<td class="aligncenter"><a href="{{supporter.link}}"><img class="supporter" alt="{{supporter.alt}}" id="{{supporter.hashtag}}" src="{{supporter.img}}"/></a></td>
						<td><p class="aligncenter">{{supporter.job}}</p></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock body %}
